body{
    overflow: hidden;
}
.main{
    position: relative;
    transform: translateY(-8.5svh);
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    .backMenu{
        width: 70%;
        height: 70%;
        box-shadow: 0 0 5rem var(--lightcolor);
        display: grid;
        grid-template-columns: 0.5fr 3fr 5fr;
        .sections{
            writing-mode: sideways-lr;
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(5,1fr);
            h5{
                height: 100%;
                text-align: center;
                cursor: pointer;
                border-top: 0.15rem solid var(--lightcolor);
            }
        }
        .imagecontainer{
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-rows: 0.5fr 3fr;
            .logo{
                display: flex;
                width: 100%;
                justify-content: left;
                align-items: center;
            }
            .image{
                width: 100%;
                max-height: 60svh;
                transform: translateY(10svh) translateX(2svw);
                background: linear-gradient( 0deg ,var(--textcolor),var(--lightcolor));
                box-shadow: 2rem -3rem 3rem var(--lightcolor);
                display: flex;
                align-items: end;
                img{
                    filter: grayscale(100%);
                    width: 100%;
                    object-fit: cover;
                    transition: all 0.4s ease-in-out;
                }
                img:hover{
                    filter: grayscale(0%);
                }
            }
        }
        .about{
            width: auto;
            display: grid;
            div{
                padding-left: 10%;
                h3{
                    padding-left: 10%;
                    padding-right: 10%;
                }
            }
            .socialNetwork{
                display: flex;
                padding: 0;
                width: auto;
                padding-right: 15%;
                justify-content: right;
                align-items:end;
                background-color: var(--basecolor);
                img{
                    width: 4rem;
                    height: 4rem;
                    margin: 0.5rem;
                    margin-bottom: 2rem;
                    mix-blend-mode: luminosity;
                    object-fit: cover;
                    border-radius: 0.5rem;
                    cursor: pointer;
                }
            }
        }
    }
    .nextButton , .previousButton{
        position: absolute;
        width: 6rem;
        height: 3rem;
        background-color: var(--buttoncolor);
        cursor: pointer;
    }
    .nextButton{
        transform: translate(65svw,55svh);
    }
    .previousButton{
        transform: translate(65svw,45svh);
    }
}